<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078832463392-93936nqq24rp6hp8lgqn5nsmk280n33u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078832463392-93936nqq24rp6hp8lgqn5nsmk280n33u</string>
	<key>API_KEY</key>
	<string>AIzaSyDO0nu0xWaI-0fhOnivuSsbjgqnCEIGzMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1078832463392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.MySubscription</string>
	<key>PROJECT_ID</key>
	<string>practicefirebase1-d6526</string>
	<key>STORAGE_BUCKET</key>
	<string>practicefirebase1-d6526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078832463392:ios:aae834c530f4b644690645</string>
	<key>DATABASE_URL</key>
	<string>https://practicefirebase1-d6526-default-rtdb.firebaseio.com</string>
</dict>
</plist>